@import "reset";
@import "variables";
@import "mixins";

body {
  background-image: linear-gradient(to right, #007991, #78ffd6);
}

.navbar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navbar button {
  width: 25%;
  @include buttonFormat;
}

.side {
  display: flex;
  flex-direction: column;
    button {
      @include buttonFormat;
      margin-top: 5px;
  }
}

.table-condensed {
  background-color: $tableColor;
  margin: 0 auto;
  width: 40%;
  font-family: $font;
  border: 1px solid antiquewhite;
  border-radius: 5px;
}

.assist,
.photographer {
  width: 50%;
  text-align: center;
  font-size: 18px;
}

.close {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
}

.col-md-6 {
  margin-bottom: 20px;
}