<nav-bar></nav-bar>

<div class="row">
    <div class="side col-md-3">
        <button ng-repeat="photoBar in PhotoVM.photographers"
                ng-click="PhotoVM.change(photoBar.photographers)"
        > {{photoBar.name}}
        </button>
    </div>
    <div class="col-md-6">
        <table class="table-condensed" ng-repeat="photographer in PhotoVM.selectedPhotographers | orderBy : photographer">
            <tr><td class="photographer">{{photographer}}</td>
                <td class="close"
                ng-click="PhotoVM.close(photographer)">unavailable</td>
            </tr>
        </table>
    </div>
</div>
