button {
    background-color: #5bc0de; 
    border: 2px solid;
    border-radius: 5px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 3px;
};

main {
    width: 80%;
	position: relative;
	float: right;
}