
/** Resets **/


/** Typography **/

/** Page Structure **/
body {
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/** Header & Navigation **/
.navbar {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.navbar button {
    background-color: rgba(245, 245, 245, 0.5);
    border: none;
    color: black;
    width: 25%;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Delius', cursive;
    font-size: 18px;
}

.side {
    display: flex;
    flex-direction: column;
}

.side button {
    background-color: rgba(245, 245, 245, 0.5);
    border: none;
    color: black;
    margin-top: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Delius', cursive;
    font-size: 18px;
}
/** Content & Media **/
.table-condensed {
    background-color: rgba(245, 245, 245, 0.2);
    margin: 0 auto;
    width: 40%;
    font-family: 'Delius', cursive;
    border: 1px solid antiquewhite;
    border-radius: 5px;
}

.assist,
.photographer {
    width: 50%;
    text-align: center;
    font-size: 18px;
}

.close {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}
/** Footer **/

/** Miscellaneous **/
.col-md-6 {
    margin-bottom: 20px;
}
